*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-size: 24px;
    color: #00486D;
    line-height: 35px;
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4 h5, h6{
    font-family: 'DM Serif Text', serif;
}

h2{
    font-size: 44px;
    line-height: 52px;
}

a{
    color: #00486D;
    text-decoration: none;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

/* wrapper line top */

.wrapper-line-top{
    text-align: center;
    background-color: #00486D;
}

.wrapper-line-top p{
    font-size: 18px;
    padding: 8px 0px;
    color: #99B6C5;
}

/* header */

.menu{ 
    margin: 25px 0px;
    padding: 0px 85px;
}

/* ==============BURGER==MENU========================= */

.topnav {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
  
.topnav a {
    float: left;
    display: block;
    font-size: 19px;
    color: #00486D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* .topnav a:hover {

} */
  
/* .active {
    background-color: #4CAF50;
    color: white;
} */
  
.topnav .icon {
    display: none;
}

.header-tel{
    margin: 0px 0px 0px auto;
}

/* ============================================= */

.menu a{
    font-size: 19px;
}

.wrapper a:hover{
    font-weight: 700;
    transition-duration: 0.2s;
}

.wrapper button{
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    background-color: #00486D;
}

.wrapper button:hover{
    color: #00486D;
    transition-duration: 0.3s;
    background-color: #99B6C5;
}

.title{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 85px;
    background-color: #E4ECF0;
    justify-content: space-between;
}

.title h1{
    font-size: 55px;
    line-height: 64px;
    margin-bottom: 25px;
}

.title-info p{
    width: 563px;
    margin-bottom: 35px;
}

.title-img{
    background-color: #00486D;
}

.title-img img{
    position: relative;
    top: 56px;
    right: 85px;
    box-shadow: 0px 32px 24px rgba(0, 72, 109, 0.5);
}

/* container */

.container{
    padding: 0px 85px;
}

/* section one */

.section-one h2{
    margin-top: 155px;
    margin-bottom: 25px;
}

.section-one p{
    line-height: 42px;
}

.practice{
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
}

.practice li{
    width: 400px;
    padding: 42px 33px;
    border-radius: 2px;
    border: 1px solid #E4ECF0;
    box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
}

.practice img{
    width: 64px;
    height: 61px;
}

.practice h4{
    font-size: 22px;
    margin-top: 40px;
}

.practice p{
    height: 160px;
    font-size: 20px;
    margin: 12px 0px 36px 0px;
}

.practice a{
    font-size: 19px;
    align-items: center;
}

.arrow-mini img{
    top: 12px;
    left: 8px;
    width: 19px;
    height: 16px;
    position: relative;
}

/* .section two */

.section-two{
    display: flex;
    margin-top: 160px;
    justify-content: right;
    background: url(../img/02.jpg) no-repeat;
}

.services{
    width: 423px;
    color: white;
    margin-top: 189px;
    border-radius: 2px;
    background: #00486D;
    padding: 58px 53px 73px 53px;
}

.services h3{
    font-size: 35px;
    line-height: 42px;
}

.services p{
    font-size: 19px;
    margin: 23px 0px 60px 0px;
}

.services button{
    width: 181px;
    height: 59px;
    font-size: 18px;
    color: #00486D;
    border-radius: 4px;
    background-color: #F2F6F7;
}

/* section three */

.section-three{
    height: 640px;
}

.slide{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section-three h3{
    width: 730px;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 16px;
}

.section-three p{
    font-size: 15px;
}

.swiper-button-next, .swiper-button-prev{
    top: 300px;
    color: #00486D;
}

/* section four */

.section-four{
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 25px;
}

.section-four .practice img{
    width: 395px;
    height: 260px;
}

.section-four .arrow-mini img{
    top: 28px;
    left: 6px;
    width: 19px;
    height: 16px;
    position: relative;
}

.section-four .practice li{
    padding: 0px;
}

.offer{
    padding: 0px 33px
}

.offer p{
    height: 70px;
}

.offer a{
    font-size: 18px;
}

.section-four h4{
    font-size: 15px;
}

/* section five */

.section-five{
    margin-top: 161px;
    text-align: center;
    background-color: #E4ECF0;
    padding: 155px 0px 176px 0px;
}

.section-five p{
    margin: 19px 0px 41px 0px;
}

/* footer */

.footer{
    display: flex;
    font-size: 19px;
    color: #99B6C5;
    background-color: #00486D;
    padding: 123px 85px 0px 85px;
}

.footer-logo{
    color: #fff;
}

.media{
    margin: 64px 0px 133px 0px;
}

.address{
    margin-top: 40px;
    color: #99B6C5;
}

.address a{
    font-size: 19px;
    color: #99B6C5;
    text-decoration: underline;
}
 
.media li{
    display: flex;
    margin-bottom: 15px;
}

.media a {
    margin-left: 8px;
    color: #99B6C5;
    align-items: center;
}

.email{
    padding-left: 190px;
}

.email h2{
    width: 390px;
    color: white;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
}

.text{
    width: 397px;
    height: 56px;
    font-size: 19px;
    color: #00486D;
    border-radius: 2px;
    background: #99B6C5;
    padding: 0px 65px 0px 24px;
    border: 1px solid #99B6C5;
}

.button{
    top: 13px;
    width: 40px;
    right: 60px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background: url(../img/arrow.svg);
}

/* footer line */

footer{
    position: relative;
}

.foter-line-bottom{
    display: flex;
    font-size: 14px;
    color: #99B6C5;
    padding: 7px 85px;
    background-color: #002B41;
    justify-content: space-between;
}

.foter-line-bottom a{
    color: #99B6C5;
    margin-left: 14px;
}

.foter-line-left{
    display: flex;
}

/* ============ADAPTIVE============== */

@media screen and (max-width: 1200px) {
    .wrapper{
        width: 960px;
    }

    .container{
        width: 960px;
    }

    .menu{
        padding: 0 40px;
    }

    .title{
        flex-direction: column-reverse;
        padding: 80px;
    }

    .title-info{
        margin-top: 115px;
    }

    .wrapper button{
        font-size: 14px;
    }

    .practice{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .practice li{
        margin-bottom: 30px;
    }

    .center{
        width: 80%;
    }

    .section-three h3{
        width: 100%;
    }

    .button{
        position: absolute;
    }

    .button{
        top: 263px;
        right: 68px;
    }
}


@media screen and (max-width: 992px) {
    .wrapper{
        width: 720px;
    }

    .container{
        width: 720px;
    }

    .topnav{
        flex-wrap: wrap-reverse;
    }

    .title-img img{
        top: 16px;
        right: 16px;
    }

    .footer{
        text-align: center;
        flex-direction: column-reverse;
    }

    .footer-contacts{
        margin: auto;
    }

    .email{
        padding: 0px;
        margin-bottom: 40px;
    }

    .button {
        top: 228px;
        right: 178px;
    }
    
    .media li {
        margin-right: 15px;
        display: inline-block;
    }

    .email h2{
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 540px;
    }

    .container{
       width: 720px;
    }
}

@media screen and (max-width: 576px) {
    
    .wrapper{
        width: 90%;
    }
    
    .container{
        width: 100%;
        padding: 0px;
    }

    .title{
        padding: 20px 20px 20px 30px;  
    }

    .wrapper-line-top p {
        font-size: medium;
        line-height: normal;
    }    

    .title-info p{
        width: auto;
        font-size: medium;
        line-height: normal;
    }

    .topnav{
        flex-wrap: inherit;
    }

    .title-img img{
        width: 100%;
    }

    .title h1{
        font-size: larger;
        line-height: normal;
    }

    .practice p{
        height: auto;
    }

    .section-three h3{
        padding: 0px 20px;
        font-size: medium;
        line-height: normal;
    }

    .services{
        width: 100%;
        padding: 40px 5px;
        text-align: center;
    }

    .section-three{
        height: auto;
        margin: 40px 0px;
    }

    .swiper-button-next, .swiper-button-prev{
        top: 50px;
    }

    .foter-line-bottom, .footer{
        padding: 40px 5px;
    }

    .text {
        width: 274px;
    }

    .button {
        top: 216px;
        right: 21px;
    }

    .practice{
        display: block;    
    }

    .practice li{
        width: auto;
    }

    .section-four .practice img{
        width: 100%;
    }

    .practices-img{
        display: none;
    }

    
}


























@media screen and (max-width: 768px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
      float: right;
      display: block;
      
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative; 
        display: block;
       
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 16px;
      
    }
}